<footer class="bg-primary pt-5">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-md-4 ">
                <h2 class="fs-3">LOCATION</h2>
                <address>2215 John Daniel Drive</address>
                <address>Clark, MO 65243</address>
            </div>
            <div class="col-md-4 ">
                <h2 class="fs-3">AROUND THE WEB</h2>
                <div class="d-flex gap-3 justify-content-center">
                    <i class="fab fa-facebook icon"></i>
                    <i class="fab fa-twitter icon"></i>
                    <i class="fab fa-linkedin-in icon"></i>
                    <i class="fas fa-globe icon"></i>
                </div>
            </div>
            <div class="col-md-4 ">
                <h2 class="fs-3">ABOUT FREELANCER</h2>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
    <div class="bg-secondary py-4 text-center"><p class="m-0">Copyright &copy; Your Website 2025</p></div>
</footer>
