<div class="container  py-4">
    <h1 class=" fw-bold text-center text-uppercase">conatct section</h1>
    <div class="d-flex justify-content-center align-items-center py-3">
        <div class="line bg-black"></div>
        <i class="fas fa-star  star px-3"></i>
        <div class="line bg-black"></div>
    </div>
<div class="row">
    
        <div class="col-lg-8 offset-lg-2 ">
    
            <div class="position-relative pt-4 my-2 w-100">
                <label #labelName for="userName" class="position-absolute label">User Name:</label>
                <input #nameInput class="form-control border-0 border-bottom py-3" type="text" id="userName" (keyup)="floating(labelName, nameInput)" placeholder="User Name" aria-label="User Name input">
            </div>
    
            <div class="position-relative pt-4 my-2 w-100">
                <label #labelAge for="userAge" class="position-absolute label">User Age:</label>
                <input #ageInput class="form-control border-0 border-bottom py-3" type="text" id="userName" (keyup)="floating(labelAge, ageInput)" placeholder="User Age" aria-label="User Name input">
            </div>
    
            <div class="position-relative pt-4 my-2 w-100">
                <label #labelEmail for="userEmail" class="position-absolute label">User Email:</label>
                <input #emailInput class="form-control border-0 border-bottom py-3" type="email" id="userEmail" (keyup)="floating(labelEmail, emailInput)" placeholder="User Email" aria-label="User Name input">
            </div>
    
            <div class="position-relative pt-4 my-2 w-100">
                <label #labelPas for="userPassword" class="position-absolute label">User Password:</label>
                <input #pasInput class="form-control border-0 border-bottom py-3" type="password" id="userPassword" (keyup)="floating(labelPas, pasInput)" placeholder="User Password" aria-label="User Name input">
            </div>
            <button class="btn btn-primary mt-4">send Message</button>
        </div>
</div>
</div>