<div class="bg-green d-flex justify-content-center align-items-center py-5">
    <div class="container text-center py-5">
        <figure><img src="/image/image.svg" alt="avater"></figure>
        <h1 class="text-white fw-bold text-uppercase">start Framework</h1>
        <div class="d-flex justify-content-center align-items-center">
            <div class="line bg-white"></div>
            <i class="fas fa-star text-white star px-3"></i>
            <div class="line bg-white"></div>
        </div>
        <p class="text-white mt-3">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</div>